/*---Colors---*/
$white:#ffff;
$softWhite:#f2f2f2;
$grays:#5b5d63;
$softBlack:#1c1e25;
$verySoftBlack:#1f2128;
$green:#4baf50;
$darkGreen:#2f7c33;
$red:#e24141;

/*---Transitions---*/
$transitionEase:.5s ease;
$transitionFast:.1s;

/*---FontPage---*/
$font:'Roboto',
sans-serif;
$urlFont:'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';